
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Portfolio</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script>
      function modal($mod)
      {
        var myModal = new bootstrap.Modal(document.getElementById($mod), {
        keyboard: false
        })
        myModal.show();
      }   
    </script>

</head>
<body>
    <div class="container" id="portfolio">
      <div class="col-xl-10">
                <div class="row">
                  <h1 id="title" >PORTFOLIO</h1>
                  <h3 id="sub-title">------<i class="bi bi-star-fill">------</i></h3>
                </div>
                <div class="row">
                    <div class="col col-xl-3 ">
                          <img class="images" src="../images/dinner.png" onclick="modal('Modal1');">
                    </div>
                    <div class="col col-xl-3">
                      <img class="images" src="../images/easter.jpg" onclick="modal('Modal2');">
                    </div>
                    <div class="col col-xl-3">
                     <img class="images" src="../images/hearts.png" onclick="modal('Modal3');">
                    </div>
                  </div><!--end of row-->
                  <div class="row">
                    <div class="col col-xl-3">
                    <img class="images" src="../images/love.jpg" onclick="modal('Modal4');">
                    </div>
                    <div class="col col-xl-3">
                      <img class="images" src="../images/man.jpg" onclick="modal('Modal5');">
                    </div>
                    <div class="col col-xl-3">
                     <img class="images" src="../images/octopus.png" onclick="modal('Modal6');">
                    </div>
                  </div><!--end of row-->        
        </div>
    </div>
    <div class="container-2">
      
      <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="Modal1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal example</h5>
            </div>
            <div class="modal-body">
              <img class="modal-img" src="../images/dinner.png" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam nobis repellendus alias veniam nostrum praesentium delectus optio! Consectetur necessitatibus atque alias exercitationem possimus adipisci unde in modi iusto architecto..</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="Modal1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal example</h5>
            </div>
            <div class="modal-body">
              <img class="modal-img" src="../images/easter.jpg" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam nobis repellendus alias veniam nostrum praesentium delectus optio! Consectetur necessitatibus atque alias exercitationem possimus adipisci unde in modi iusto architecto..</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="Modal1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal example</h5>
            </div>
            <div class="modal-body">
              <img class="modal-img" src="../images/hearts.png" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam nobis repellendus alias veniam nostrum praesentium delectus optio! Consectetur necessitatibus atque alias exercitationem possimus adipisci unde in modi iusto architecto..</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="Modal4" tabindex="-1" aria-labelledby="Modal1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal example</h5>
            </div>
            <div class="modal-body">
              <img class="modal-img" src="../images/love.jpg" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam nobis repellendus alias veniam nostrum praesentium delectus optio! Consectetur necessitatibus atque alias exercitationem possimus adipisci unde in modi iusto architecto..</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="Modal5" tabindex="-1" aria-labelledby="Modal1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal example</h5>
            </div>
            <div class="modal-body">
              <img class="modal-img" src="../images/man.jpg" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam nobis repellendus alias veniam nostrum praesentium delectus optio! Consectetur necessitatibus atque alias exercitationem possimus adipisci unde in modi iusto architecto..</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="Modal6" tabindex="-1" aria-labelledby="Modal1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal example</h5>
            </div>
            <div class="modal-body">
              <img class="modal-img" src="../images/octopus.png" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam nobis repellendus alias veniam nostrum praesentium delectus optio! Consectetur necessitatibus atque alias exercitationem possimus adipisci unde in modi iusto architecto..</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</body>
</html>